[Unit]
Description=Webserver for betterbike

[Service]

# Compile/run the binary in the code dir so it has access to relatively pathed
# assets (html, css etc.)
ExecStart=%h/code/betterbike-api/betterbike
Restart=always

# This is for newer systemd versions (236 and up)
StandardOutput=journal
StandardError=journal

# old systemd versions have to do it like this
# ExecStart=/bin/bash -c '/path/to/betterbike-api &>> /var/log/betterbike.log'

# user and group under which the service will run
# User=harrison
# Group=staff

Environment="DATABASE_URL=postgresql://harrison:postgres@localhost:5433/betterbike-api?sslmode=disable" "PORT=8001"

WorkingDirectory=%h/code/betterbike-api

[Install]
WantedBy=default.target
