{{define "body"}}
<main class="index-page">
	<p class="explainer">
		Betterbike needs your location to find the Citibike stations closest to you.
	</p>
	<button type="button" onclick="getCurrentPosition()">
		Give location permission
	</button>
</main>

<script>
	function getCurrentPosition() {
		navigator.geolocation.getCurrentPosition((position) => {
			let lat = position.coords.latitude
			let long = position.coords.longitude

			window.location.href = `/bikes?lat=${lat}&lon=${long}`
		})
	}
</script>
{{end}}
